<ImageGenConfiguration>
	<Registration>
		<!-- ImageGen Professional is always available on localhost and *.local domains -->
		<Key domain="example.com">436DA8888A3BBC98662B23C6D1B635543E762854</Key>
		<Key domain="sample.com">55FD8FD97A199AB3082BC7DC11AE5F743B092C55</Key>
	</Registration>
	<HideDomains>true</HideDomains>
	<RemoteDomainWhiteList>
		<Domain>www.example.com</Domain>
	</RemoteDomainWhiteList>

	<Class Name="articleListImage" OverridesQueryString="true">
    <ImageBaseDir>/media</ImageBaseDir>
    <AllowUpsizing>false</AllowUpsizing>
    <Height>70</Height>
    <Width>100</Width>
    <pad>true</pad>
    <constrain>true</constrain>
    <bgcolor>white</bgcolor>
    <CachingTimeSpan>14800</CachingTimeSpan>
  </Class>
</ImageGenConfiguration>
