<%@ Master Language="C#" MasterPageFile="~/masterpages/ThreeColumnLayout.master" AutoEventWireup="true" %>

<asp:content ContentPlaceHolderId="CenterCPH" runat="server">
  <h1><umbraco:Item field="pageTitle" runat="server"></umbraco:Item></h1>
  <umbraco:Item field="body" runat="server"></umbraco:Item>
</asp:content>